    <div class="login-container">
        <div></div>
        <div class="login-card">
            <h3>Connexion enseignant</h3>
            <p>Vous allez être redirigé vers la page d'authentification</p>
            <button
                    class="login-button"
                    (click)="login()"
            >
                Se connecter
            </button>
        </div>

        <div class="school-info">
            <p>École maternelle Coudoulet</p>
            <p>Application de suivi des compétences</p>
        </div>
    </div>
